[user]
  name = Johan Hanses
  email = johanhanses@gmail.com
[init]
  defaultBranch = main
[pull]
  rebase = false
[push]
  autoSetupRemote = true
  default = current
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[include]
  path = ~/themes.gitconfig
[delta]
  line-numbers = true
  navigate = true
  side-by-side = false
  decorations = true
  # syntax-theme + light flag come from ~/themes.gitconfig, rewritten by scripts/theme-sync
[core]
  excludesfile = ~/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[credential]
	helper = store
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[http "https://github.lkab.com/"]
	sslVerify = true
	sslCert = /Users/johanhanses/Repos/github.com/Digital-Tvilling/.lkab/on-prem/cert/certificate.pem
	sslKey = /Users/johanhanses/Repos/github.com/Digital-Tvilling/.lkab/on-prem/cert/private_key.pem
[credential "https://github.lkab.com"]
	helper = 
	helper = osxkeychain
